/* @font-face {
  font-family: 'Dovemayo_gothic';
  src: url('./font/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

body {
  margin: 0;
  font-family: 'Dovemayo_gothic', Arial, Helvetica, sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}